<h2>File serving</h2>
<% if @justfile.main_file.attached? %>
<p> Here's my last uploaded file: <%= link_to @justfile.main_file.filename, @justfile.main_file %></p>
<p> Uploaded at: <%= @justfile.updated_at %> </p>
<% end %>

<h2> Pin another file? </h2>
<%= form_with model: @justfile do |f| %>
  <%= f.hidden_field :id, value: @justfile.id %>
  <p> File:  <%= f.file_field :main_file%> </p>
  <p> <%= f.submit "Submit" %> </p>
<% end %>


