<h2>Hello World</h2>
<div>
  The time is now: <%= Time.now %>
  <%= form_with url:update_vars_path, remote:true do |f| %>
    <p> Give me a number: <%= f.text_field :a_number,  value: @a_number.as_integer %> </p>
    <p> Give me a message: <%= f.text_field :a_message,  value: @a_message.as_string %> </p>
    <p> <%= f.submit "update" %> </p>
  <% end %>
</div>
